<div class="search-books">
  <div class="search-books-bar">
    <button routerLink="/" class="close-search">Close</button>
    <div class="search-books-input-wrapper">
      <!--
          NOTES: The search from BooksAPI is limited to a particular set of search terms.
          You can find these search terms here:
          https://github.com/udacity/reactnd-project-myreads-starter/blob/master/SEARCH_TERMS.md
          However, remember that the BooksAPI.search method DOES search by title or author. So, don't worry if
          you don't find a specific author or title. Every search is limited by search terms.
        -->
      <input
        type="text"
        placeholder="Search by title or author"
        [(ngModel)]="query"
        (ngModelChange)="searchBooks()"
        appQueryTrim
      />
    </div>
  </div>
  <div *ngIf="books | async as results" class="search-books-results">
    <h1 *ngIf="results.books.error; else listBooks">
      Search did not return any books. Please use recommended search terms!
    </h1>
    <ng-template #listBooks>
      <ol class="books-grid">
        {{
          results | json
        }}
      </ol>
    </ng-template>
  </div>
</div>
