/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}
